Package: com.ps.noytpremium
Name: NoYTPremium
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remove YouTube Premium upsells.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
Depiction: https://poomsmart.github.io/repo/depictions/noytpremium.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/noytpremium.json
